@import "tailwindcss";

:root {
  --primary-color: #4f46e5;
  --secondary-color: #0ea5e9;
  --background-dark: #0f172a;
}

body {
  @apply bg-slate-900 text-slate-100 antialiased;
}

/* Custom scrollbar for premium feel */
@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full hover:bg-slate-700 transition-colors;
  }
}